* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* -- Header -- */

.hero-image {
    background: linear-gradient(rgba(0, 48, 43, 0.2),rgb(0, 48, 43));
    background-image: url('/assets/images/julien-andrieux-Ei0V7r0vcoY-unsplash.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
}