@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-family: 'Poppins', 'sans-serif';
}


.left,
.right {
    height: 40vh;
    width: 100%;
    margin-top: 70px;
}

/* Navbar */
header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #9457eb;
}

.navbar {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10vh;
    
}

.box-nav-sitee {
    overflow: hidden;

}

.navbar-nav a {
    font-size: 20px;
}

/* Movies after retrived from search API */

.content-box-search {
    background-color: #540094;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}

.title-movie-search {
    color: #fff;
    text-transform: uppercase;
    padding-top: 10px;
    height: 75px;
}

.box-movies-search img {
    height: 320px;
    width: 100%;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.footer-cinema {
    position: absolute;
}

.fa-film {
    font-size: 21px;
    margin-left: 10px;
}


/* -- Input search -- */
#searchText {
    width: 50%;
    margin-left: 25%;
}

.purple-border {
    background-color: #9457eb;
    border: 12px solid #540094;
    border-radius: 5px;
    width: 40%;
    color: #fff;
    text-transform: uppercase;
    margin-left: 30%;
}

.purple-border1 {
    border: 12px solid #540094;
    border-radius: 5px;
    width: 40%;
    color: #fff;
    text-transform: uppercase;
    margin-left: 30%;
}

.text-center-box {
    display: flex;
    align-items: center;
    justify-content: center;

}


/* -- Contact Banner -- */

.box-contact-link {
    padding-bottom: 10vh;
}

.contact-box-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    width: max-content;

}

.lead {
    color: #fff;
}

#contact {
    background-color: #9457eb;
    display: block;
    min-height: 500px;
    width: 60%;
    margin-left: 20%;
    border: 12px solid #540094;
    border-radius: 5px;
    margin-bottom: 15%;
    margin-top: 5%;
}

.btn-contact {
    background-color: #9457eb;
    border: 2px solid #fff;
    width: 25%;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

/* -- Contact form -- */
.errMensage {
    color: rgb(243, 8, 8);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.sucsMensage {
    color: rgb(27, 223, 27);
    text-transform: uppercase;
}

/* -- General Buttons -- */

#buttonGen {
    background-color: #540094;
    font-weight: bolder;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 20%;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 40%;
}

.butaoPurple {
    background-color: #540094;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    border: 2px solid #fff;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.butaoCinema {
    background-color: #540094;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    border: 2px solid #fff;
    width: 100%;
    margin: 0.5rem;
}

#buttonGen1 {
    background-color: #540094;
    font-weight: bolder;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 30%;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 35%;
}



/* -- Footer -- */

footer {
    padding: 20px 30px;
    background-color: rgba(150, 23, 175, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: fit-content;
    margin-top: 40px;

}

.fa-check-circle {
    font-size: 125%;
}

.social-container {
    margin: 20px 0px;
}

.socials {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

.social-icon {
    width: 60px;
    border-radius: 50px;
    color: #f9f9f9;
}

.socials a {
    font-size: 2.5em;
    color: inherit;
}

.social-icon .fab:hover {
    color: #9457eb;
}

.purple-border {
    background-color: #9457eb;
    border: 12px solid #540094;
    border-radius: 5px;
    width: 60%;
    color: #fff;
    text-transform: uppercase;
    margin-left: 20%;
}

.title-box {
    margin-bottom: 10%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .box-movies-search img {
        width: 100%;
    }

    .butaoCinema {
        width: 100%
    }

    .purple-border {
        width: 60%;
        margin-left: 20%;
    }

    #searchText {
        width: 80%;
        margin-left: 10%;
    }

    #buttonGen {
        width: 40%;
        margin-left: 30%;
    }

    .left,
    .right {
        height: 30vh;
        width: 100%;
        margin-top: 5vh;
    }

    #buttonGen1 {
        width: 30%;
        margin-left: 30%;
    }

    footer {
        margin-top: 40px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {

    header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #9457eb;
    color: #fff;
    }

    .contact-box-title {
        margin-left: 10%
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .box-movies-search img {
        width: 100%;
        height: 100%;
    }

    #searchText {
        width: 70%;
        margin-left: 15%;
    }

    .movie-show {
        margin-top: 3rem;
    }

    .butaoCinema {
        width: 90%;
        margin-left: 5%;
    }

    .movie-overview {
        margin-top: 1rem;
    }

    #map {
        margin-top: 80px;
    }

    .title-movie-search {
        font-size: 25px;
    }

    .left,
    .right {
        height: 40vh;
        width: 100%;
        margin-top: 70px;
    }

    footer {
        margin-top: 40px;
    }

    .btn-contact {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 10px;
    }

    #contact {
        width: 80%;
        margin-left: 10%;
    }

    #buttonGen {
        margin-left: 35%;
        width: 30%;
    }

    #buttonGen1 {
        width: 30%;
        margin-left: 35%;
    }
}

@media screen and (max-width: 320px) {

    header {
        position: sticky;
        top: 0;
        z-index: 9999;
        background-color: #9457eb;
        color: #fff;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    #buttonGen {
        width: 35%;
        margin-left: 32.5%;
    }

    #map {
        margin-top: 130px;
    }

    .btn-contact {
        width: 100%
    }

    #searchText {
        width: 80%;
        margin-left: 10%;
    }

    .butaoCinema {
        width: 80%;
        margin-left: 10%;
    }

    #contact {
        width: 80%;
        margin-left: 10%;
    }

    .up-title {
        font-size: 2vh;
    }

}