@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-family: 'Poppins', 'sans-serif';
}

.left,
.right {
    height: 50vh;
    width: 100%;
}



/* Movies after retrived from search API */

.content-box-search {
    background-color: #540094;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}

.title-movie-search {
    color: #fff;
    text-transform: uppercase;
    padding-top: 10px;
    height: 75px;
}

.box-movies-search img {
    height: 320px;
    width: 100%;
}

.row {
    margin-right: 0;
    margin-left: 0;
}


/* -- Header -- */

.box-main-movie {
    padding-top: 10vh;
}

/* -- Input search -- */
#searchText {
    width: 50%;
    margin-left: 25%;
}

.purple-border {
    background-color: #9457eb;
    border: 12px solid #540094;
    border-radius: 5px;
    width: 40%;
    color: #fff;
    text-transform: uppercase;
    margin-left: 30%;
}

.purple-border1 {
    border: 12px solid #540094;
    border-radius: 5px;
    width: 40%;
    color: #fff;
    text-transform: uppercase;
    margin-left: 30%;
}

.text-center-box {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* -- Contact Banner -- */

.box-contact-link {
    padding-bottom: 10vh;
}

.contact-box-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.lead {
    color: #fff;
}


/* -- General Buttons -- */

#buttonGen {
    background-color: #540094;
    font-weight: bolder;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 20%;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 40%;
}

.butao2 {
    background-color: #540094;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    border: 2px solid #fff;
    margin-top: 5vh;
    display: block;
}

.butao3 {
    background-color: #540094;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    border: 2px solid #fff;
    width: 100%;
    margin: 0.5rem;
}

#buttonGen1 {
    background-color: #540094;
    font-weight: bolder;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 30%;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 35%;
}



/* -- Footer -- */

footer {
    padding: 20px 30px;
    background-color: rgba(150, 23, 175, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: fit-content;
}

.fa-check-circle {
    font-size: 125%;
}

.social-container {
    margin: 20px 0px;
}

.socials {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

.social-icon {
    width: 60px;
    border-radius: 50px;
    color: #f9f9f9;
}

.socials a {
    font-size: 2.5em;
    color: inherit;
}

.socials-hover-color {
    color: #00302b;
}

.social-icon .fab:hover {
    color: #9457eb;
}



.purple-border {
    background-color: #9457eb;
    border: 12px solid #540094;
    border-radius: 5px;
    width: 60%;
    color: #fff;
    text-transform: uppercase;
    margin-left: 20%;
}

.title-box {
    margin-bottom: 10%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .box-movies-search img {
        width: 100%;
    }

    .butao3 {
        width: 100%
    }

    .purple-border {
        width: 60%;
        margin-left: 20%;
    }

    #searchText {
        width: 80%;
        margin-left: 10%;
    }

    #buttonGen {
        width: 40%;
        margin-left: 30%;
    }

    .left,
    .right {
        height: 40vh;
        width: 100%;
        margin-top: 5vh;
    }

    #buttonGen1 {
        width: 60%;
        margin-left: 20%;
    }

    #buttonGen1 {
        margin-left: 5%;
    }

    footer {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 767px) {

    .box-movies-search img {
        width: 100%;
        height: 100%;
    }

    .movie-show {
        margin-top: 3rem;
    }

    .butao3 {
        width: 100%
    }

    .movie-overview {
        margin-top: 1rem;
    }

    

    .title-movie-search {
        font-size: 25px;
    }

    .left,
    .right {
        height: 40vh;
        width: 100%;
        margin-top: 70px;
    }

    footer {
        margin-top: 40px;
    }
}